<!DOCTYPE html>
<html>
<head>
    <title>Address - View All</title>
</head>
<body>
<h1>Address</h1>
<a href="/account/add">Add New Account</a> <br />
<table border="1">
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>first_name</th>
        <th>last_name</th>
    </tr>
    <% for(var i =0; i< account.length; i++) { %>
    <tr>
        <td><%= account[i].account_id %></td>
        <td><%= account[i].email %></td>
        <td><%= account[i].first_name %></td>
        <td><%= account[i].last_name %></td>
        <td><a href='/account/edit/?account_id=<%= account[i].account_id %>'>
            Edit
         </a>
         </td>
    </tr>
    <% } %>
</table>
</body>
</html>