<!DOCTYPE html>
<html>
<head>
    <title>Resume - Add</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>.right{float: right; margin-left:57px;}</style>
</head>
<body>
<h1>Add New Resume Info</h1>
<form action="/resume/triinsert" method="get" >
    <div style="width:400px; margin-left:10px;">
        <fieldset style="margin-top:10px;">
               <label for = "rname"> Resume Name: <input style="margin-left:30px;" class="right" name="rname" type="text" /> </label>
                <br />
                <br />
                Skills
                <br/>
                    <% if(skill[0].length >= 1) %>
                    <% for(var i=0; skill[0].length > i; i++) { %>
                    <input type="checkbox" name="skill_name" value="<%= skill[0][i].skill_name %>"> <%= skill[0][i].skill_name %>
                    <br />
                    <% } %>
                Schools
                <br/>
                <% for(var i=0; skill[1].length > i; i++ ) { %>
                <input type="checkbox" name="school_name" value="<%= skill[1][i].school_name %>"> <%= skill[1][i].school_name %>
                <br />
                <% } %>
                Companies
                <br/>
                <% for(var i=0; skill[2].length > i; i++ ) { %>
                <input type="checkbox" name="company_name" value="<%= skill[2][i].company_name %>"> <%= skill[2][i].company_name %>
                <br />
                <% } %>
                <input type="submit" style="color: green; background-color: cyan;"/>
                <input type="hidden" name="account_id" id="acount_id" value="<%=resume.account_id%>" />


        </fieldset>
    </div>
</form>
</body>
</html>