<!DOCTYPE html>
<html>
<head>
    <title>Resume - UPDATE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>.right{float: right; margin-left:57px;}</style>
</head>
<body>
<h1>Edit Existing Resume</h1>
<form action="/resume/update" method="get">
  <% for(var i=0; res[0].length > i; i++ ) { %>
    Resume Name: <input id="rname" name="rname"  type="text" value="<%= res[0][i].rname %>" />
    <br />
    <% } %>
    Skill(s):
    <br />
    <% for(var i=0; res[1].length > i; i++ ) {
            var checked ="";

            if(res[1][i].resume_id != null) {
                checked = "checked";
            } %>
    <input type="checkbox" name="skill_id" <%= checked %> value="<%= res[1][i].skill_name %>">
    <%= res[1][i].skill_name %>  + <%=res[1][i].description%>
    <br />
    <% } %>
    <br />
    Companies:
    <br />
    <% for(var i=0; res[2].length > i; i++ ) {
                 var checked ="";

                 if(res[2][i].resume_id != null) {
                     checked = "checked";
                 } %>

     <input type="checkbox" name="company_id" <%= checked %> value=" <%=res[2][i].company_id%>">
     <%= res[2][i].company_name %>
     <br />
        <% } %>
    <br />
    Schools:
    <br />
    <% for(var i=0; res[3].length > i; i++ ) {
                var checked ="";

                if(res[3][i].resume_id != null) {
                    checked = "checked";
                } %>
     <input type="checkbox" name="school_id" <%= checked %> value=" <%=res[3][i].school_id%>">
     <%= res[3][i].school_name %>
     <br />
        <% } %>
    <br />
    <input type="submit" />
        <% for(var i=0; res[0].length > i; i++ ) { %>
    <input type="hidden" id="resume_id" name="resume_id" value="<%= res[0][i].resume_id %>" />
    <input type="hidden" id="account_id" name="account_id" value="<%= res[0][i].account_id %>" />
    <% } %>
    <% for(var i=0; res[1].length > i; i++ ) { %>
     <input type="hidden" id="skill_id" name="skill_id" value="<%= res[1][i].skill_id %>" />
     <% } %>

</form>
</body>
</html>