<!DOCTYPE html>
<html>
<head>
    <title>Skill - View All</title>
</head>
<body>
<h1>Skill</h1>
<a href="/skill/add">Add New Skill</a> <br />
<table border="1">
    <tr>
        <th>ID</th>
        <th>Skill Name</th>
        <th>Description</th>
    </tr>
    <% for(var i =0; i< skill.length; i++) { %>
    <tr>
        <td><%= skill[i].skill_id %></td>
        <td><%= skill[i].skill_name %></td>
        <td><%= skill[i].description %></td>

    <td>
    <a href='/skill/edit/?skill_id=<%= skill[i].skill_id %>'>
        Edit
    </a>
        <td>
        <a href='/skill/delete/?skilll_id=<%= skill[i].skill_id %>'>
            Delete
        </a>
        </td>
     </tr>
     <% } %>
    </td>
    </tr>
</table>
</body>
</html>