<!DOCTYPE html>
<html>
    <head>
        <title>Company - ADD</title>
    </head>
    <body>
        <h1>Add New Company</h1>
    <form action="/company/update" method="get">
        Company Name: <input
                id="company_name"
                name="company_name"
                type="text"
                value="<%= company.company_name%>"
        />
        <br />
        <br />
        <% for(var i=0; address_result.length > i; i++ ) {
            var checked ="";

            if(address_result[i].company_id != null) {
                checked = "checked";
            }
        %>
            <input type="checkbox" name="address_id" <%= checked %> value="<%= address_result[i].address_id %>"> <%= address_result[i].street + ',' +
         address_result[i].zip_code %>
        <br />
        <% } %>
        <% if(locals.was_successful) { %>
            <div class="col-md-12">
                <div id="message" class="alert alert-success col-md-4">
                    <%= company.company_name %> was successfuly saved. %>
                </div>
            </div>
            <% } %>
        <input type="submit" />
        <input type="hidden"
               id="company_id"
               name="company_id"
               value="<%= company.company_id %>"
               />
    </form>
    </body>
</html>